<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
    <div class="backdiv">
        <div class="signup">
            <div class="s1">

                <h1>Login In</h1>
                <form action="/login" method="post">

                    <input type="email"  name="email" placeholder="Email"> <br>

                    <input type="password" name="password" placeholder="Password">

                    <button type="submit">Submit</button>
                </form>
                
                

                <!-- <button type="submit">Register</button> -->
            </div>
            <div class="s2">

                <h1>Welcome to Gaurav Web Tech!</h1><br>

                <p>Create your free account to start learning and building today.</p> <br>
                
            </div>
            
        </div>
    </div>
</body>
</html>