<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="backdiv">
        <div class="signup">
            <div class="s1">
                
                <h1>Welcome to Gaurav Web Tech!</h1><br>

                <p>Create your free account to start learning and building today.</p> <br>

                <!-- <button type="submit">Register</button> -->
            </div>
            <div class="s2">
                <h1>SignUp Form</h1>
                <form action="/signup" method="post">
                    <input type="text" name="name" placeholder="Username"> <br>

                    <input type="email" name="email" placeholder="Email"> <br>

                    <input type="password" name="password" placeholder="Password">

                    <button type="submit">Submit</button>
                </form>
            </div>
            
        </div>
    </div>
</body>
</html>